<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="vertical-align:top">Prénom</th>
          <th style="vertical-align:top">Nom</th>
          <th style="width:180px;min-width:170px">
            Action<button style="float:right" [disabled]="createMode || editMode" class="btn btn-success btn-sm" (click)="addUser()">Ajouter</button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of listeUsers">
          <td>{{user.prenom}}</td>
          <td><span>{{user.nom}}</span></td>
          <td>
            <button class="btn btn-info btn-sm" (click)="editUser(user)" [disabled]="createMode || editMode">Editer</button>
            <button class="btn btn-danger btn-sm" (click)="deleteUser(user)" style="float:right" [disabled]="createMode || editMode">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="editMode||createMode" class="col-md-6">
    <div class="form-group">
      <label for="prenom">Prénom</label>
      <input class="form-control"
             id="prenom"
             required
             [(ngModel)]="currentUser.prenom"
             name="prenom" />
    </div>
    <div class="form-group">
      <label for="nom">Nom</label>
      <input type="text"
             class="form-control"
             id="nom"
             required
             [(ngModel)]="currentUser.nom"
             name="nom" />
    </div>

    <button (click)="cancelEdit()" class="btn btn-warning">Annuler</button>
    <button (click)="saveUser()" class="btn btn-success" style="float:right">Valider</button>
  </div>

  <ng-template #confirmeDelete let-close="close">
    <div class="modal-body text-center">
      <p>Voulez-vous supprimer cet utilisateur?</p>
      <button type="button" class="btn btn-success" (click)="close('delete')" style="float:left">Oui</button>
      <button type="button" class="btn btn-warning" (click)="close('cancel')" style="float:right">Annuler</button>
    </div>
  </ng-template>
</div>

