<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="vertical-align:top">Nom</th>
          <th style="width:180px;min-width:170px">
            Action<button style="float:right" [disabled]="createMode || editMode" class="btn btn-success btn-sm" (click)="addPlane()">Ajouter</button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let plane of listePlanes">
          <td><span>{{plane.nom}}</span></td>
          <td>
            <button class="btn btn-info btn-sm" (click)="editPlane(plane)" [disabled]="createMode || editMode">Editer</button>
            <button class="btn btn-danger btn-sm" (click)="deletePlane(plane)" style="float:right" [disabled]="createMode || editMode">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="editMode||createMode" class="col-md-6">
    <div class="form-group">
      <label for="nom">Nom</label>
      <input type="text"
             class="form-control"
             id="nom"
             required
             [(ngModel)]="currentPlane.nom"
             name="nom" />
    </div>
    <button (click)="cancelEdit()" class="btn btn-warning">Annuler</button>
    <button (click)="savePlane()" class="btn btn-success" style="float:right">Valider</button>
  </div>

