body {
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bouton-image{
  border: 0;
  padding: 0;
}

.bouton-image:before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
}

.addButton:before {
  background-image: url(./assets/add_20px.png);
}

/* Pour l'horloge du timepicker dans un dialog*/
.timepicker-overlay {
  z-index: 10000000 !important;
}

.timepicker-backdrop-overlay {
  z-index: 10000000 !important;
}
